.modalWin, .modalWin input[type="text"], .modalWin input[type="number"] {
    font-family: Arial;
    font-size: 14px;
    color:#333;
}
.modalWin, .fadowWin, .modal_header, .modalWin > article, .modalWin > nav {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.modal_header, .modal_header_ico, .modalWin > article, .modalWin > nav {
	position: absolute;
}
.modalWin, .fadowWin {
    position: fixed;
    max-width: 80%;
    min-width: 250px;
    max-height: 80%;
    border-radius:5px;
    border: ridge 2px white;
    background-color: #ffd;
    box-shadow: 30px 30px 30px rgba(0,0,0,0.7);
    z-index: 1000;
}
.fadowWin {  animation: fadow_win 7s forwards;  }

.modal_header, .modal_header_ico {
	top: 0;
	height: 30px;
}
.modal_header {
    left: 0;
    width: 100%;
    background-color: black;
    color: #ddd;
    text-align: right;
    padding: 10px;
    font-size: 12px;
}
.modal_header_ico {
    left: 10px;
    border-radius: 100%;
    width: auto;
}
.modalWin > article {  /* Текст сообщения */
    /*border: solid 1px green;*/
}
.modalWin > section {  /* Контенер для элементов input */
	/*border: solid 1px red;*/
}
.modalWin > section, .modalWin > article {
	position:absolute;
	display: inline-block;
	padding: 10px 20px;
	overflow-X: hidden;
	overflow-Y: auto;
}
.modalWin input[type="text"], .modalWin input[type="number"] {
    padding:2px 4px;
    margin: 0 20px;
    width: 40px;
    border-color:red;
}
.modalWin > nav {  /* Контенер для кнопок ( submit, cancel ) */
    width:100%;
	text-align: center;
    bottom:20px;
	left:0;
	/*border:solid 1px blue;*/
}
.modalWin > section > textarea {
    padding:10px;
    box-sizing:border-box;
    margin:20px;
    border: inset 1px;
    overflow: auto;
}

@keyframes fadow_win {
    0% { opacity: 0.0 }
    10% { opacity: 1.0 }
    80% { opacity: 1.0 }
    100% { opacity: 0.0 }
}

::-webkit-scrollbar-button { 
    background-image:url(''); 
    background-repeat:no-repeat; 
    width:6px; 
    height:0px 
} 

::-webkit-scrollbar-track { 
    background-color:#32312e; 
    box-shadow:0px 0px 3px #000 inset; 
} 

::-webkit-scrollbar-thumb { 
    -webkit-border-radius: 5px; 
    border-radius: 5px; 
    background-color:#ffcb17; 
    box-shadow:0px 1px 1px #fff inset; 
    background-image:url('https://drive.google.com/uc?export=download&id=0BxaMB69y7fvSemoteTZTOXFHNkk'); 
    background-position:center; 
    background-repeat:no-repeat; 
} 

::-webkit-resizer { 
    background-image:url(''); 
    background-repeat:no-repeat; 
    width:6px; 
    height:0px 
} 

::-webkit-scrollbar{ 
    width: 8px; 
}
