@charset "utf-8";
/* CSS Document */
/* -------------------------------------------------------------------
            Убирающаяся панель меню справа (для видео и т.д.)
----------------------------------------------------------------------*/
.panel-name, .work-panel  { width:328px; }
.panel-top {
	position:relative;
	right:30px;
	top:0;
	width:378px;
	font-family: 'Comic Sans MS';
	background-color:#550;
	border:outset 1 px white;
	height:30px;
	padding:0 0 0 20px;
	margin:0 150px 0 0;
	font-size:16px;
	color:#F7F6DE;
	border:groove 1px white;
}
.panel-top, .panel-name {
	-webkit-text-shadow: 0px 0px 1px rgba(0,0,0,0.5);
	-moz-text-shadow: 0px 0px 1px rgba(0,0,0,0.5);
	-ms-text-shadow: 0px 0px 1px rgba(0,0,0,0.5);
	-o-text-shadow: 0px 0px 1px rgba(0,0,0,0.5);
	text-shadow: 0px 0px 1px rgba(0,0,0,0.5);
	padding-left:5px;
	
}
.panel-top:hover, .panel-name:hover { cursor:pointer; color:white; }
.panel-name {
	background-color:#880;
	color:white;
	font-family: 'Comic Sans MS';
	font-size:14px;
	height:25px;
	text-align:left;
	padding-right:8px;
	border:outset 1px white;
}
.panel-name button {
	width:20px;
	height:20px;
	margin-top:2px;
	margin-bottom:2px;
	background-color:transparent;
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;
}
.panel-name button:hover, .panel-name button:active { cursor:pointer; outline:none; }
.work-panel, .panel-top {
	-webkit-box-shadow:0px 0px 4px rgba(0,0,0,0.4);
	-moz-box-shadow:0px 0px 4px rgba(0,0,0,0.4);
	-ms-box-shadow:0px 0px 4px rgba(0,0,0,0.4);
	-o-box-shadow:0px 0px 4px rgba(0,0,0,0.4);
	box-shadow:0px0px 4px rgba(0,0,0,0.4);
}
.work-panel {
	position:fixed;
	top:0;
	right:0;
	height:auto;
	border:inset 1px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	background-color:#ccd;
}
.panel-top {
	-webkit-border-bottom-left-radius:20px;
	-moz-border-bottom-left-radius:20px;
	-ms-border-bottom-left-radius:20px;
	-o-border-bottom-left-radius:20px;
	border-bottom-left-radius:20px;
	-webkit-border-top-left-radius:20px;
	-moz-border-top-left-radius:20px;
	-ms-border-top-left-radius:20px;
	-o-border-top-left-radius:20px;
	border-top-left-radius:20px;
}
.work-panel-elem {
	background-color:#000;
	border: outset 1px white;
	font-size:12px;
	color:white;
}
.work-panel-elem-short { display:inline-block; border:none; }

.folderStateButton {
	color:#D3D3D3;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
	border:none;
	font-size:110%;
	margin-right:20px;
}
.folderStateButton:hover {
	color:white;
	font-size:120%;
	border:none;
	text-shadow: -1px -1px 2px rgba(0,0,0,0.7);
}
.folderFormButton {
	border:outset 1px white;
	margin-left:20px;
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
	background-image:url(/buttons/menu_buttons.png);
}
.folderFormButton:hover {
	border:inset 1px white;
	box-shadow:inset 1px 1px 2px rgba(0,0,0,0.8);
	background-position:center;
}